body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #808080, #d2b48c);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

header h1 {
    margin: 0;
}

header nav a {
    margin-right: 10px;
}

header .butão, header .butão-2 {
    padding: 10px 20px;
    border: none;
    background-color: #0056b3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

header .butão:hover, header .butão-2:hover {
    background-color: #003f7f;
}

.chat-container {
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mensagens {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.barra {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
}

.digitar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.butão-2 {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.butão-2:hover {
    background-color: #0056b3;
}

.mensagem___cliente {
    background-color: #e1ffc7;
    border-radius: 0px 10px 10px 10px;
    width: 200px;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    margin-bottom: 10px;
}

.mensagen___self {
    background-color: #e1ffc765;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: right;
}


@media (max-width: 768px) {
    header {
        
        flex-direction: row;
    }

    header nav, header a {
        margin-bottom: 10px;
    }

    .barra {
        flex-direction: column;
        align-items: stretch;
    }

    .digitar {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .mensagens {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
        flex-direction: row;
    }

    header .butão, header .butão-2 {
        width: 100%;
        padding: 10px;
    }

    .barra {
        flex-direction: column;
        align-items: stretch;
    }

    .digitar {
        width: 100%;
    }

    .mensagens {
        padding: 5px;
    }
}